/* Homepage*/
#page {
    background-color: rgb(0, 188, 250);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}


#title {
    font-size: 75px;
    position: relative;
    top: 40px;
    left: 50px;
}

#pagelink {
    color: white;
    text-decoration: none;
}


#homepagebutton {
    width: 120px;
    height: 80px;
    position: relative;
    left: 860px;
    bottom: 150px;
    background-color: black;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#homepagebutton:hover {
    background-color:rgb(0, 89, 255)
}

#paspro1button {
    width: 120px;
    height: 80px;
    position: relative;
    left: 880px;
    bottom: 141px;
    background-color: black;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#paspro1button:hover {
    background-color:rgb(0, 89, 255)
}

#paspro2button {
    width: 120px;
    height: 80px;
    position: relative;
    left: 683px;
    bottom: 35px;
    background-color: black;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#paspro2button:hover {
    background-color:rgb(0, 89, 255)
}


#indexhi {
    font-size: 100px;
}

#emoji {
   font-size: 100px; 
}
/* Passion Project 1 */

#video {
    position: relative;
    left: 100px;
}

#paspro1text {
    font-size: 50;
    position: relative;
    left: 850px;
    top: 250px;
}

#paspro1text2 {
    font-size: 50;
    position: relative;
    left: 850px;
    top: 250px;
}

/* Passion Project 2 */

#htmllogo { 
    position: relative;
    top: 50px;
    width: 530px;
    height: 330px;
}

#logolabel {
    font-size: 30px;
    position: relative;
    top: 50px;
    left: 180px;
}

#paspro2area1 {
    font-size: 50;
    position: relative;
    left: 550px;
    bottom: 330px;
}

#paspro2tagtitle {
    font-size: 70;
    position: relative;
    left: 80px;
}

#htmltag {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    left: 1000px;
}

#paspro2area2 {
    position: relative;
    left: 70px;
    bottom: 250px;
}

#paspro2csstitle {
    font-size: 70;
    position: relative;
    left: 80px;
    bottom: 120px;
}

#csslogo {
    width: 300px;
    height: 400px;
    position: relative;
    left: 120px;
    bottom: 80px;
    border-radius: 15%;
}

#csstitle {
    position: relative;
    left: 200px;
    bottom: 80px;
}

#paspro2area3 {
    font-size: 70;
    position: relative;
    left: 500px;
    bottom: 550px;
}

#htmlcodeimg {
    position: relative;
    bottom: 300px;
    width:600px;
    height:600px;
    border-radius: 5%;
}

#csscodeimg {
    position: relative;
    bottom: 300px;
    left: 100px;
    border-radius: 5%;
}

#somehistory {
    position: relative;
    bottom: 130px;
    left: 80px;
}

#weirdhr {
    position: relative;
    bottom: 100px;
}

#htmlfounder {
    position: relative;
    top: 100px;
    width: 400px;
    height: 250px;
    border-radius: 15%;
}

#paspro2area4 {
    position: relative;
    left: 500px;
    bottom: 290px;
}